@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
html{
    scrollbar-width: thin;
}

.app-component{
    display: flex;
}

.sidebar{
    position: fixed;
    min-width: 20%;
    background-color: #0e5252;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: thin;
}

.content{
    margin-left: 20%;
    width: 80%;
}


#logo-div{
    height: 64px;
    background-color: rgb(255, 177, 32);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#logo-div h1{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

#logo-icon{
    font-size: 32px;
    margin-right: 8px;
}

#sidebar-tabs{
    color: #9ee9e9;
}

#sidebar-tabs:hover{
    cursor: pointer;
}

.expandable-tabs-visible{
    padding: 16px 32px;
    color: #9ee9e9;
    border-bottom: 1px solid #143838;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expandable-tabs-visible:hover{
    background-color: #184444;
}


.expandable-tabs-hidden{
    background-color: #143838;
    padding: 4px 0;
}

.expandable-tabs-hidden p:hover{
    background-color: #184444;
}

.expandable-tabs-hidden p{
    padding: 12px 48px;
}







#navbar{
    height: 60px;
    background-color: #fff;
}

.pages-body {
    padding: 32px 24px;
    background-color: #f3f3f3;
}

.table-wrapper-div {
    background-color: white;
    padding: 48px 24px;
    box-shadow: 0px 0px 16px #11111a1a;
    border-radius: 8px;
}

.table-wrapper-div-h1 {
    margin-bottom: 24px;
}

/* Container that handles horizontal scrolling */
.table-container {
    overflow-x: auto; /* Enable horizontal scroll */
    display: block;
    width: 100%; /* Makes sure the container takes up available space */
    scrollbar-width: thin;
}

/* Prevent the table content from wrapping */
.table {
    border-collapse: collapse;
    white-space: nowrap; /* Prevent text wrapping */
    width: 100%; /* Maintain full width */
    border: 1px solid #8dd6d6
}

.table td,
.table th {
    border-bottom: 1px solid #8dd6d6;
    padding: 8px 24px 8px 8px;
}

.table tr:nth-child(even) {
    background-color: #fafafa;
}

/* .table tr:hover {
    background-color: #ddd;
} */

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0e5252;
    color: #9ee9e9;
}















#footer{
}